/* header menu */
nav a {
font-size:20px;
font-family:sans-serif;

color:black;
}

/* header image */
header img {
float:left;
margin-right:10px;
}

/* header menu block */
header nav {
float:left;

}
