/* header menu */


/* header image */
header img {
float:left;

}

/* header menu block */
header nav {
float:left;

}

header a {
font-size:75%;
}

nav a {
font-size:200%;
font-family:sans-serif;

color:black;
}

nav a:hover
{
	color: green;
}
