header {
	display: flex;
	width: 100%;
}

.blogmenu {
	margin:0px;
}
.blogmenu a {
	font-size:75%;
}

.flexbox {
display:flex;
}

.verticalbox {
display: flex;
flex-direction: column;
}

.flexbox div img
{
	max-width:100%;
	height:auto;
}
.verticalbox div img
{
	max-width:100%;
	height:auto;
}

.flexbox p
{
	margin: 2px;
}
